@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@layer components {
  .sidebar {
    @apply fixed bottom-10 xl:bottom-0 xl:relative w-screen h-0 xl:w-0 xl:h-screen bg-white outline-black rounded-t xl:rounded-r-lg overflow-hidden duration-300 xl:duration-100;
  }

  .form-radio {
    @apply cursor-pointer;
    &:checked {
      background-image: none;
      &:focus {
        @apply border-transparent;
      }
    }
    &:hover {
      @apply border-primary;
    }
    &:focus {
      @apply ring-0;
      @apply ring-offset-0;
    }
  }

  .form-checkbox {
    @apply cursor-pointer;
    &:checked {
      @apply bg-checked-icon;
      &:hover {
        @apply border-primary;
      }
    }
    &:hover {
      @apply border-primary;
    }
    &:focus {
      @apply ring-0;
      @apply ring-offset-0;
    }
  }
}
