@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.form-radio {
  @apply cursor-pointer;
  &:checked {
    background-image: none;
    &:focus {
      @apply border-transparent;
    }
  }
  &:hover {
    @apply border-primary;
  }
  &:focus {
    @apply ring-0;
    @apply ring-offset-0;
  }
}

.form-checkbox {
  @apply cursor-pointer;
  &:checked {
    @apply bg-checked-icon;
    &:hover {
      @apply border-primary;
    }
  }
  &:hover {
    @apply border-primary;
  }
  &:focus {
    @apply ring-0;
    @apply ring-offset-0;
  }
}
